name: DUModZ-24-7-Bot

on:
  schedule:
    - cron: "0 */4 * * *" # প্রতি ৪ ঘণ্টা পর পর রান হবে
  workflow_dispatch: # ম্যানুয়ালি রান করার জন্য

# এই অংশটি আগের চলমান বোট বন্ধ করে নতুনটি শুরু করবে (Conflict ফিক্স করবে)
concurrency:
  group: telegram-bot
  cancel-in-progress: true

jobs:
  run-bot:
    runs-on: ubuntu-latest
    # গিটহাব অ্যাকশনের ম্যাক্সিমাম টাইমলিমিট সেট করা (যাতে ৪ ঘণ্টার মধ্যে শেষ হয়)
    timeout-minutes: 350 
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: pip install -r requirements.txt

      - name: Run Telegram Bot
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        run: |
          # কোনো পুরনো ওয়েবহুক থাকলে তা ডিলিট করে ফ্রেশ স্টার্ট করবে
          python -c "import requests; requests.get('https://api.telegram.org/bot${{ secrets.BOT_TOKEN }}/deleteWebhook?drop_pending_updates=True')"
          python bot.py
